<h1>Hola mundo</h1>
<h2>{{ title }}</h2>

<h2 class="resultado">{{ resultado }}</h2>
<div>
  <button (click)="BtnClick(7)">7</button>
  <button (click)="BtnClick(8)">8</button>
  <button (click)="BtnClick(9)">9</button>
  <button (click)="BtnClick('*')">X</button>
</div>
<div>
  <button (click)="BtnClick(4)">4</button>
  <button (click)="BtnClick(5)">5</button>
  <button (click)="BtnClick(6)">6</button>
  <button (click)="BtnClick('-')">-</button>
</div>
<div>
  <button (click)="BtnClick(1)">1</button>
  <button (click)="BtnClick(2)">2</button>
  <button (click)="BtnClick(3)">3</button>
  <button (click)="BtnClick('+')">+</button>
</div>
<div>
  <button (click)="BtnClick('C')">C</button>
  <button (click)="BtnClick(0)">0</button>
  <button (click)="BtnClick('/')">,</button>
  <button (click)="BtnClick('=')">=</button>
</div>
